body {
    margin:0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    font-family: Arial;
    background-image: url("image/icon13.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border: none;
    outline-style: none;
    background: none;
    font-size: 20px;
    /*border-radius: 20px;*/
}
.header {
    background-color:#000000;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header__section {
    height: 100%;
    display: flex;
/*     border-bottom: 1px solid #fff; */
}

.header__item {
    width: 150px;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.header__item:hover {
    color: #e6b42c;
    transition: 0.5s;
}
.header__item:active {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.main {
/*     margin-top:20px; */
    width: 90%;
    min-height: 805px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.main__title {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    text-shadow:0 0 20px black;
    font-size:60px;
    cursor: default;
}

.main__icon {
    width: 20%;
    border-radius: 20px;
    align-self: center;
    display: flex;
}

.button {
    width: 40px;
    height: 80px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
    margin: 10px;
    font-size: 50px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover {
    color: #e6b42c;
    transition: 0.5s;
}

.button:active {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.main__sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #3c1803a6;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.section__title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    border-bottom:2px solid #e6b42c;
    padding:20px;
    border-top: 2px solid #e6b42c;
}

.section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.section__button {
    width: 10%;
    height:50px;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    align-self: center;
    margin: 5%;
}
.section__button:hover {
    background: #000;
    color: #e6b42c;
    transition: 0.5s;
}

.section__button:active {
    background: rgba(254, 229, 173, 1);;
    color: #fff;
}

.section__button_barber {
    width: 100%;
    height: 10%;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    align-self: center;
    margin: 0;
}
.section__button_barber:hover {
    background: #000;
    color: #e6b42c;
    transition: 0.5s;
}

.section__button_barber:active {
    background: rgba(254, 229, 173, 1);;
    color: #fff;
}

.section__content_services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.service__title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service__content {
    display: flex;
    flex-direction: column;
}

.service__content_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

.service__item {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.service__item_header {
    background-color: rgba(0, 0, 0, 0.6);
}

.service__item_title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    align-self: center;
}

.service__item_image {
    width: 100%;
    height: 300px;
    background-image: url("./image/icon8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.service__item_price {
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: center;
    align-content: center;
    padding-top: 20px;
}

.barbers-container__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c1803a6;
}

.barbers-container__section_item {
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.barberImage {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.barberInfo {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.barberData {
    color: #fff;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.store__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.store__section_item {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store__item_header {
    background-color: rgba(0, 0, 0, 0.6);
}

.store__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.store__button {
    height:50px;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    align-self: center;
    margin-right: 10%;
}
.store__button:hover {
    background: #000;
    color: #e6b42c;
    transition: 0.5s;
}

.store__button:active {
    background: rgba(254, 229, 173, 1);;
    color: #fff;
}

.data__button {
    width: 100%;
    height:50px;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    align-self: center;
}
.data__button:hover {
    background: #000;
    color: #e6b42c;
    transition: 0.5s;
}

.data__button:active {
    background: rgba(254, 229, 173, 1);;
    color: #fff;
}

.table {
    width: 95%;
    height: 100%;
    align-self: center;
}

.table__row {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}

.table__row:hover {
    background-color: #e6b42ca3;
    color: #3c1803a8;
}

.table__row_main {
    color: #fff;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}

.table__cell {
    width: 20%;
    text-align: center;
    align-content: center;
}

.main__item-list {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 10px;
}

.main__lists-block {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.list__item {
    height: 30px;
    width: 100%;
}

.list {
    width: 100%;
    height: 100%;
}

.list__item_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
}

.list__item_block:hover {
    background: rgba(249, 158, 93,0.5);
    color: #fff;
}

.main__form {
    border-radius: 5px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 5% 0 10% 0;
}

.form {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.form-record {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.form_content {
    display: flex;
    flex-direction: column;
    width:75%;
}

.form__item {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0 10px;
}

.wrongInputData {
    border: 1px solid red;
}

.wrongInputDataInfo {
    color: red;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
    height: 12px;
}

.form__item_menu {
    background: rgba(255, 255, 255, 0.7);
}

.footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    padding-bottom:20px;
    display: flex;
    background-color:#000000ba;
    justify-content: space-around;
}

.footer__item {
    color: #fff;
    border-radius: 10px;
    height: 100%;
    padding: 5px;
    cursor: default;
}

.footer__item p:hover {
    color: rgb(249, 158, 93);
}

.form__item_hard {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*     width: 100%; */
    margin: 10px;
}

.active {
    color: rgb(249, 158, 93);
}

.formDivButtons {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
}

.form__item_button {
    height:50px;
    border: 5px solid #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin:10px;
    width:auto;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}
.form__item_button:hover {
    background: #e6b42c;
}

.form__item_button:active {
    background: rgba(254, 229, 173, 1);;
    color: #fff;
}

.form__item_button-modal {
    height:50px;
    border: 5px solid #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin:10px;
    width:auto;
    padding:10px 20px 10px 20px;
    cursor: pointer;
}

.form__item_button-modal:hover {
    background: #e6b42c;
}

.form__item_button-modal:active {
    background: rgba(254, 229, 173, 1);;
    color: #fff;
}

#users {
    width: 200px;
}

#recording {
    width: 300px;
    height: 100px;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    align-self: center;
}

#recording:hover {
    background-color: #000;
    color: #e6b42c;
}

.currentHeaderItem {
    color: #e6b42c;
}

.adminData {
    height: 100%;
}

#addBarberButton {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6b42c;
    position: fixed;
    right: 10%;
    top: 10%;
    border-radius: 40px;
    cursor: pointer;
}

#addBarberButton:hover {
   background-color: #e6b42ca8;
}

#addStoreItemButton {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6b42c;
    position: fixed;
    right: 10%;
    top: 10%;
    border-radius: 40px;
    cursor: pointer;
}

#addStoreItemButton:hover {
   background-color: #e6b42ca8;
}

#addServiceButton {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6b42c;
    position: fixed;
    right: 10%;
    top: 10%;
    border-radius: 40px;
    cursor: pointer;
}

#addServiceButton:hover {
   background-color: #e6b42ca8;
}

.section__container {
/*     width: 100%; */
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
/*     justify-content: center; */
/*     align-self: center; */
}

.section__barber {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.section__barber:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.section__service {
    cursor: pointer;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.section__service:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.section__user {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.section__user:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.section__record {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.section__record:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.section__storeItem {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.section__storeItem:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.section__container_service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.section__main {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    color: #fff;
}

.section__main_service {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    color: #fff;
}

.section__main_record {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    color: #fff;
}

.section__barber_item {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-content: center;
}

.section__service_item {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-content: center;
}

.section__record_item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-content: center;
}

.section__barber_item-cell_number {
    width: 11%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
}

.section__service_item-cell_number {
    width: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    cursor: default;
}

.section__store_item-cell_number {
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    cursor: default;
}

.section__barber_item-cell_email {
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
}

.section__service_item-cell_email {
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    cursor: default;
}

.section__barber_item-cell_name {
    width: 12%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
}

.removeBarber {
    width: 10%;
    height: 100%;
    color: white;
    background-color: firebrick;
    transition: 0.5s;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.removeBarber:hover {
    background-color: darkred;
    border-top: 1px solid white;
    border-bottom: none;
}


.removedBarber {
    width: 10%;
    height: 100%;
    color: #000;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    margin-top: 14px;
}

.removeService {
    width: 10%;
    height: 100%;
    color: white;
    background-color: firebrick;
    transition: 0.5s;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.removeService:hover {
    background-color: darkred;
    border-top: 1px solid white;
    border-bottom: none;
}

.modal__back {
    background: rgba(102, 102, 102, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 10;
}

.modal__window {
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.modal__window_delete {
    width: 500px;
    height: 550px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.modal__window_sendEmailToAdmin {
    width: 450px;
    height: 300px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.modal__window_logOut {
    width: 450px;
    height: 300px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.modal__window_change {
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.modal__window_addService {
    width: 450px;
    height: 300px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.modal__window_record {
    width: 450px;
    height: 300px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
}

.select__option {
    width: 100%;
    background-color: #e6b42ca9;
    color: #000;
    font-size: 20px;
    font-family: Arial;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.select__option:hover {
    background-color: #fff;
    color: #3c1803a8;
}

.section__button_barber-changeSalary {
    height: 50%;
    width: 8%;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    align-self: center;
    text-align: center;
    padding-top: 15px;
    margin: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.section__button_barber-changeSalary:active {
    background-color: #000;
    color: #e6b42c ;
}

.section__button_service-changePrice {
    height: 50%;
    width: 8%;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    align-self: center;
    text-align: center;
    padding-top: 15px;
    margin: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.section__button_service-changePrice:active {
    background-color: #000;
    color: #e6b42c ;
}

.section__button_storeItem-changePrice {
    height: 50%;
    width: 8%;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    align-self: center;
    text-align: center;
    padding-top: 15px;
    margin: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.section__button_storeItem-changePrice:active {
    background-color: #000;
    color: #e6b42c ;
}

#toggleRequestsMenuButton {
    width: 50px;
    height: 50px;
    background-image: url("./image/barbers/icons/icon3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6b42c;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 40px;
    z-index: 2;
    cursor: pointer;
}

#toggleRequestsMenuButton:hover {
    background-color: #e6b42ca8;
}

#toggleRequestsMenuButton:active {
    background-color: #e6b42c;
}

.blockForParams {
    visibility: hidden;
    width: 550px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blockForParamsService {
    height: 150px;
}

.blockDivParamsWindow {
    margin: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divContainerForSearch {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
/*     border-left: 1px solid #000; */
}

.containerForSearch {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.buttonForSearch {
    height: 100%;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}

.buttonForSearch:hover {
    background-color: #000;
    color: #e6b42c;
}

.textContainer {
    margin: 5px 0 0 0;
}

#buttonForSearchDate {
    margin: 5px;
}

.buttonForReset {
    height: 30px;
    margin-top: 10px;
    background-color: #e6b42c;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}

.buttonForReset:hover {
    background-color: #000;
    color: #e6b42c;
}

.hardItemFiends {
    height: 25px;
    font-size: 15px;
}

.fieldForUsersData {
    margin: 0;
}

.inputDataSelect {
    width: 120px;
}

.form__item_hard-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

}

input {
    border-radius: 5px;
    border: 0;
    padding:0 5px;
    font-size: 15px;
    width: 230px;
}

/* input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
} */

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


.inputSendEmail {
    width: 300px;
    margin: 12px;
    height: 30px;
    font-size: 20px;
}

select {
    border-radius: 5px;
    border: 0;
    padding:0 5px;
    font-size: 15px;
}

.divInfoPerson {
    width: 500px;
    align-self: center;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.dataItemDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dataItemText {
    width: 45%;
    height: 50px;
    align-self: center;
    text-align: center;
}

.recordsForFuture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
}

.headerText2 {
    color: #fff;
    width: 30%;
    align-self: center;
    text-align: center;
}

.text {
    color: red;
    text-align: center;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar { width: 1px; height: 1px;}
::-webkit-scrollbar-button {  background-color: #e6b42c; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

#form {
    width: 500px;
}

.loading {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #000;
}

.loader-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin: -25px auto 0;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    position: relative;
    -webkit-animation: loader-1 1.5s infinite linear;
    animation: loader-1 1.5s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader-1:before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    border-radius: 100% 0 0 0;
}

.loader-1:after {
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e6b42c;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes loader-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}